/* Basic CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* --- end of john reset --- */

/* inter font import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    min-height: 100dvh;
    min-width: 100dvw;
    color: white;
    font-family: 'Inter', sans-serif; /*need to import*/
}

body::before {
    content: '';
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: hsla(0,0%,0%,1);
    background-image:
        radial-gradient(at 85% 6%, hsla(260,100%,27%,1) 0px, transparent 50%),
        radial-gradient(at 22% 72%, hsla(266,100%,17%,1) 0px, transparent 50%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    align-items: center;
}

.title-wrapper { 
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    span { 
        font-weight: 700;
        font-size: 3rem;
    }

}

.item-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */


    .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        width: clamp(9rem, 20dvw, 18rem);
        height: clamp(9rem, 20dvw, 18rem);
        background-color: hsla(0,0%,100%,0.1);
        border-radius: .5rem;
    }

    .e_img {
        width: clamp(2rem, 5dvw, 4.5rem);
        height: auto;
        object-fit: cover;
    }

    .e_name {
        font-weight: 800;
        font-size: clamp(.75rem, 2dvw, 1.5rem);
    }

    .e_tags { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: .5rem;

        * { 
            background: red;
            color: white;
            padding: .25rem;
            border-radius: .15rem;
        }
    }

    .e_desc{
        font-size: clamp(.75rem, 1.5dvw, 1rem);
    }

    .e_download { 
        a {
            all: unset; 
            color: white;
            cursor: pointer;
            background: blue;
            padding: .5rem .75rem;
            border-radius: .5rem;
        }
    }
}   

/* styling for the search bar */
form { 
    
    input{
        all: unset; 
        border: 1px solid white;
        border-radius: .5rem;
        padding: .25rem;
    }
}